* {
    margin: 0px;
    padding: 0px;
}

.mov {
    margin: 60px 170px;
    background-color: #edeef7;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.title {
    width: 45%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
    padding-top: 20px;
}
.vid {
    width: 55% content-box;
    display: flex;
    justify-self: right;
    margin-left: 10px;
}
